<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- 마이바티스 매퍼로 사용한다는 의미 -->
  
  <!-- namespace에 참소할 인터페이스명을 기술합니다 -->
  <mapper namespace="com.simple.test.mapper.TESTMapper">
  	
  	<!-- select id = TESTMapper의 메서드명, resultType=반환받을 타입 -->
  	<select id="getTEST" resultType="String">
  		select sysdate from dual
  	</select> 
  	
  	
  </mapper>
  

